[submodule "habitat-sim"]
	path = habitat-sim
	url = https://github.com/facebookresearch/habitat-sim
	branch = gala_kinematic
[submodule "habitat-lab"]
	path = habitat-lab
	url = https://github.com/facebookresearch/habitat-lab
	branch = gala_kinematic
